.transaction-list {
  list-style: none;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px; /* For scrollbar */
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border-left: 5px solid;
}

.transaction-item.income {
  border-left-color: var(--income-color);
}

.transaction-item.expense {
  border-left-color: var(--expense-color);
}

.transaction-details {
  display: flex;
  flex-direction: column;
}

.transaction-description {
  font-weight: bold;
}

.transaction-category {
  font-size: 0.8rem;
  color: #aaa;
}

.transaction-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transaction-amount {
  font-weight: bold;
}

.delete-btn {
  background: var(--expense-color);
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}